---
---

@import 'sass/utilities/initial-variables';

$primary: $blue;
$grey-darker: #111;

// TODO: Set `$navbar-breakpoint: 900px;` when https://github.com/jgthms/bulma/pull/1183 is merged

@import 'bulma';

// Bulma overrides
.navbar > .container .navbar-menu,
.container > .navbar .navbar-menu {
	margin-right: unset;
}
//

// My variables
$gray-link: hsl(0, 0%, 10%);


// Gray section
.is-gray {
	background-color: #f7f7f8;

	a {
		color: $gray-link;
	}

	a:hover {
		color: $black;
	}

	.tag {
		background-color: #fff;
	}
}

.is-gray-link {
	color: $gray-link;
}

.tag.is-small {
	font-size: 0.6rem;
	line-height: 1;
	font-weight: 500;
}

.tag {
	color: hsl(0, 0%, 25%);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
        height: 100vh;

        background-color: #f9f9f9;
        
        

}

// Make the navbar narrower
@media screen and (min-width: 1088px) {
	.navbar {
		margin-left: 10vw;
		margin-right: 10vw;
	}
}

// Spread the items out more than the default
.navbar-item {
	padding-left: 1rem;
	padding-right: 1rem;
}

.navbar-item.is-active {
	border-color: transparent !important;
}

a.navbar-item:not(.button) {
	color: hsla(0, 0%, 46%, 1);
}

.has-nice-link a:not(.button):not(.no-underline):not(.tag) {
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.has-nice-link a:not(.button):not(.no-underline):not(.tag):hover {
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

.nice-link {
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);

	&:hover {
		box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
	}
}

.is-primary .has-nice-link a:not(.button):not(.no-underline):not(.tag) {
	box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.5);
}

.is-primary .has-nice-link a:not(.button):not(.no-underline):not(.tag):hover {
	box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 0.7);
}

.box {
	height: 100%;
}

.box .image {
	margin-bottom: 10px;
	border-radius: 2px;
	box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.6);
}

@media (prefers-color-scheme: dark) {
	.box .image {
		box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.2);
	}
}

.box .image img {
	border-radius: 2px;
}

.box .title {
	margin-bottom: 1.8rem;
}

.box .title a {
	color: $primary;
	box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1) !important;
}

.box .title a:hover {
	color: #000;
	box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.3) !important;
}

#apps .box {
	transition: 0.2s box-shadow;
}

#apps .box h2 {
	font-size: 1.7rem;
}

#apps .box:hover {
	box-shadow: 0 2px 10px rgba(10, 10, 10, 0.2),
		0 0 0 1px rgba(10, 10, 10, 0.1)
}

#apps .box:hover .title span:first-child {
	color: #000;
	// box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.5) !important;
}

#apps .box h2 .tag {
	position: relative;
	bottom: 1px;
}

.is-dark-text * {
	color: #363636 !important;
}

.is-centered {
	margin-left: auto;
	margin-right: auto;
}

#info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#info-container .columns {
	margin-bottom: 60px;
}

@media screen and (max-width: 500px) {
	#info-container .columns {
		margin-bottom: 20px;
	}
}

#profile-pic {
	margin-bottom: 10px;
	border-radius: 80px;
}

#scroll-hint {
	opacity: 0.5;
	transition: opacity 0.5s ease-out !important;
}

#scroll-hint.hidden {
	opacity: 0;
}

#latest-blog-post-separator {
	opacity: 0.7;
}

#latest-blog-post {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80px;
	max-width: 600px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	opacity: 0;
	transition: opacity 0.8s ease-in;
}

#latest-blog-post .title {
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
}

#latest-blog-post p {
	font-size: 12px;
	max-width: 400px;
	text-align: center;
}

#latest-blog-post.visible {
	opacity: 1;
}

#unicorn-btn {
	transition: transform 0.3s ease-in-out;
}

#unicorn-btn:hover {
	transform: scale(1.8);
}

#unicorn-icon {
	margin-top: -80px;
	margin-bottom: 20px;
}

#projects {
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

#projects p {
	font-size: 16px;
}

/* inline codeblock */
code.highlighter-rouge {
	color: #8f3d74;
	word-break: break-all;
}

@media screen and (max-width: 500px) {
	.is-hidden-small-screen {
		display: none !important;
	}
}

/*
Font Awesome
Generated with https://icomoon.io/app/
*/
@font-face {
	font-family: 'font-awesome';
	src: url('font-awesome.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^='fa-'],
[class*='fa-'] {
	font-family: 'font-awesome' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


kbd {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	background-color: #fafbfc;
	border: 1px solid #c6cbd1;
	border-bottom-color: #959da5;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #959da5;
	color: #444d56;
	display: inline-block;
	font-size: 11px;
	line-height: 10px;
	padding: 3px 5px;
	vertical-align: middle;
	position: relative;
	top: -1px;
}

.is-unclickable {
	pointer-events: none;
}


@media (prefers-color-scheme: dark) {
	:root {
		background-color: #070707 !important;
	}

	// We only do it on body as `filter` doesn't apply to the overscroll.
	body {
		background-color: #fefefe;
		filter: invert(100%) hue-rotate(-180deg) brightness(105%) contrast(95%);
	}

	* {
		background-color: inherit;
	}

	img,
	video,
	iframe,
    .ThreeD-Container,
	body * [style*="background-image"],
	.no-dark-mode {
		filter: invert(100%) hue-rotate(-180deg) brightness(105%) contrast(95%) !important;
		background-color: unset !important;
	}
}


.box {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.box .foot {
    width: 100%;
    margin: 10px 0px;
}

.box .content-container {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: flex-start; 
    flex: 1 1 auto;
}


.libraries  .column {
    padding-top: 64px;
}

.libraries .box {
    justify-content: space-between;
    padding-top: 64px;
}

.libraries .box figure {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 0;
    left: 50%;
    width: 128px;
    max-width: 200px;
}


.libraries .box .name,
.apps .box .name {
    display: block;
    white-space: nowrap; /* forces text to single line */
    overflow: hidden;
    text-overflow: ellipsis;
}

.libraries .box .archieved,
.apps .box .archieved {
    background-color: rgb(255, 182, 182);
    font-weight: bold;
}

.box .article {
    background-color: rgb(182, 208, 255);
    font-weight: bold;
}

.box .image {
    object-fit: cover;
    overflow: hidden;
}

.box figure img {
    transition: transform 300ms ease-in-out;
}


.box:hover {
    box-shadow: 0 2px 10px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.5);
}

.box:hover > figure img {
    transform: scale(1.2);
}


.extern {
    width: 1em;
    margin: 0.2em
}

.extern.blink {
    opacity: 0;
    transition: opacity 0.2s ;
}

#apps .box:hover > div div .extern {
    opacity: 100;
}

.icon svg {
    display: inline-block;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.latest-repos-container {
    width: 100%;
}

.latest-repos-owner {
    margin: 0.3em 0em;
}

.index {
    position: relative;
  }

.scroll-container {
    scroll-snap-type: y mandatory; 
    height: 100vh;
    overflow: scroll;
}


.read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
    background-color: transparent;
    /* transform: translate(0%, -50%); */
    // background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%);
}

.read-more svg {
    animation: bounce 1s infinite;
}

footer .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}



footer .button {
    width: auto;
    overflow: hidden;
    
}

footer {

      #tooltip {
        display: none;
        background: #333;
        color: white;
        font-weight: bold;
        padding: 4px 8px;
        font-size: 13px;
        border-radius: 4px;

        #arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
      }

      #tooltip[data-popper-placement^='top'] > #arrow {
        bottom: -4px;
      }
      
      #tooltip[data-popper-placement^='bottom'] > #arrow {
        top: -4px;
      }
      
      #tooltip[data-popper-placement^='left'] > #arrow {
        right: -4px;
      }
      
      #tooltip[data-popper-placement^='right'] > #arrow {
        left: -4px;
      }
      
      #tooltip[data-show] {
        display: block;
      }
}



@media screen and (max-width: 1024px) {	
    .box:hover > figure img {
        transform: none;
    }

    .libraries .box figure {
        transform: translate(0%, -50%);
        position: absolute;
        top: 0;
        left: 0;
        width: 128px;
        max-width: 200px;
    }

    .scroll-container {
        scroll-snap-type: none; 
        height: auto;
        overflow: visible;
    }

    .read-more {
        padding: 3.5em;
    }

   
}


  @keyframes bounce {
    from {
      transform: translate(0%, 0%);
    }
    to {
      transform: translate(0%, 15%);
    }
  }