---
layout: default
permalink: /apps/
---

<section class="section hero apps is-fullheight is-default is-bold">
  <div id="apps" class="container">
    <h2 class="title is-2">Apps</h2>
    <p>Fully featured and large scale apps, games or CLIs.</p>
    <br />
    <div class="columns is-multiline card-container">
      {% for app in site.apps %}
      <div class="column is-mobile is-half-tablet is-one-third-desktop">
        <a href="https://github.com/FarazzShaikh/{{app.repo}}" target="_blank">
          <div class="box" style="opacity: 0; transition: opacity 200ms ease-in">
            <figure class="image">
              <img src="/apps/Assets/{{app.title}}.jpg" width="1440" height="800" />
            </figure>

            <div class="content-container">
              <div>
                <h2 class="title">
                  <span class="name">{{app.title}}</span>
                  {% for tag in app.tags %}
                  <span class="tag is-small">{{tag}}</span>
                  {% endfor %}
                </h2>
                <p class="subtitle is-6">{{app.disc}}</p>
              </div>

              <div class="foot">
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px">
                  <div class="langs"></div>

                  <svg class="extern blink icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" class="svg-inline--fa fa-external-link-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                      fill="currentColor"
                      d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"
                    ></path>
                  </svg>
                </div>
                <span class="tag time">Updated just now</span>
                <span class="tag stars"></span>
                {% if app.archived %}
                <span class="tag archieved">Archived</span>
                {% endif %}
              </div>
            </div>
          </div>
        </a>
      </div>
      <script type="module" defer>
        import { createLangTags, getTimeSince, isDebug } from "/pages/utils.js";

        (async () => {
          const colors = await (await fetch("/colors.json")).json();
          const index = "{{ forloop.index }}";
          const langContainer = document.querySelectorAll(".card-container .langs")[index - 1];

          const langs = "{{app.langs | json}}".split(" ");
          langContainer.innerHTML = createLangTags(langs, colors).join("\n");

          const eStarts = document.querySelectorAll(".box .stars")[index - 1];
          const eTime = document.querySelectorAll(".box .time")[index - 1];

          let stars, time;
          try {
            if (isDebug()) throw "Skipping GitHub API call. Using Local Data.";

            const repoName = "{{app.repo | json}}";
            if (repoName) {
              const author = "Farazzshaikh";
              const url = `https://api.github.com/repos/${author}/${repoName}`;
              const urlTime = `https://api.github.com/repos/${author}/${repoName}/git/refs/heads/master`;

              const repo = await (await fetch(url)).json();

              if (!repo) throw "Rate Limit reached.";

              stars = repo.stargazers_count;

              const ref = await (await fetch(urlTime)).json();
              if (!ref.object) throw "Rate Limit reached.";
              const commit = await (await fetch(ref.object.url)).json();
              if (!commit) throw "Rate Limit reached.";
              const date = new Date(commit.author.date).getTime();
              time = date;
            }
          } catch (error) {
            console.error(error);
          }

          if (Date.now() - time <= 8.64e7 * 2) {
            eTime.style.backgroundColor = "#70fb70";
          }

          eStarts.innerHTML = `★ ${stars || "---"}`;
          eTime.innerHTML = `Updated ${getTimeSince(time) || "---"}`;

          document.querySelectorAll(".box")[index - 1].style.opacity = 1;
        })();
      </script>
      {% endfor %}
    </div>
  </div>
</section>

{% include footer.html %}
